<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lijiamin.dao.RecruitDao">
    <insert id="insertRecruit">
        INSERT into T_RECRUIT(RECRUIT_ID, RECRUIT_DEPARTMENT_ID, RECRUIT_DEPARTMENT_NAME, RECRUIT_POSITION_ID, RECRUIT_POSITION_NAME, RECRUIT_SALARY, RECRUIT_CREATETIME, RECRUIT_STATE) VALUES (RECRUIT_ID_SEQ.nextval,#{recruit_department_id},#{recruit_department_name},#{recruit_position_id},#{recruit_position_name},#{recruit_salary},#{recruit_createtime},#{recruit_state})
    </insert>
    <update id="updateRecruit">
        UPDATE T_RECRUIT SET RECRUIT_STATE=#{recruit_state}
    </update>
    <delete id="deleteRecruit">
        DELETE FROM T_RECRUIT WHERE RECRUIT_ID=#{recruit_id}
    </delete>
    <select id="queryRecruit" resultType="com.lijiamin.model.Recruit">
        SELECT * FROM T_RECRUIT WHERE RECRUIT_ID=#{recruit_id}
    </select>
    <select id="queryRecruitByRecruit_state" resultType="com.lijiamin.model.Recruit">
        SELECT * FROM T_RECRUIT WHERE RECRUIT_STATE=#{recruit_state}
    </select>
</mapper>