<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijiamin.dao.UserDao">

    <insert id="insertUser">
        insert into T_USER(USER_ID, USER_NAME, USER_PASS) VALUES (USER_ID_SEQ.nextval,#{user_name},#{user_pass})
    </insert>
    <select id="queryUser" resultType="User">
        SELECT * FROM T_USER
        <where>
            <if test="user_id!=null and user_id>0">
                and user_id=#{user_id}
            </if>
            <if test="user_name!=null and user_name!=''">
                and user_name=#{user_name}
            </if>
            <if test="user_pass!=null and user_pass!=''">
                and user_pass=#{user_pass}
            </if>
        </where>
    </select>
</mapper>